@import url('https://googleapis.com');

body {
    font-family: 'Lato', sans-serif;
}

.login-signup h2 {
    font-size: 32px;
    white-space: nowrap;
    font-weight: 300;
}

.login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    width: 300px;
    margin: 225px auto;
    padding: 10px;
    text-align: center;
    margin-top: 160px;
}

input {
    display: block;
    background-color: rgb(233, 235, 239);
    border: lightgray;
    border-radius: 6px;
    width: 350px;
    height: 50px;
    margin-bottom: 12px;
    font-size: 18px;
    box-sizing: border-box;
    color: #212020;
    letter-spacing: 0.08em;
}

input[type="password"] {
    letter-spacing: 0.25em;
}

.input-container {
    position: relative;
}

.input-container input {
    padding-top: 24px;
    line-height: normal;
    text-indent: 9px;
    padding-bottom: 2px;
}

.input-txt {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    pointer-events: none;
    color: #333030;
}

input:hover {
    border-color: #222224;
    outline: solid 1px #222224;
}

input:focus {
    border-color: #222224;
    outline: solid 2px #222224;
}

button {
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #1f1e1e;
    color: white;
    cursor: pointer;
    font-weight: 800;
    margin-top: 8px;
}

button:hover {
    border-radius: 0px;
}

a {
    display: inline-block;
    color: #0768cf;
    text-decoration: underline;
}

.login-links {
    margin-top: 24px;
}

.login-links p{
    color: #8a8c8e
}